#views { 
	background-image: url(../img/wallpaper2.jpg); 
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 640px;
}

.begin {
	margin-top: 70px;  
	padding-top: 50px;
}

.navbar {
	background-color:  #c4e6ed;
}

.begin .red {
	text-align: center;
}