<div class="container">
	<!-- <div class="row"> -->
		<h2 id="title" class="h1-responsive page-header" style="text-align: center; padding-bottom: 2.2%; ">  My Profile  </h2>
		
		<div class="col-md-4">
			
			<col-md-4> 
				
				<div class="well" style="margin-left:7%;">
					<img class="img-responsive img-circle" src="img\Profile_Vector_1.png" style="height:40%;width:50%;padding-bottom: 20px;">
					<table class="table table-bordered table-striped" style="text-align: center;" ng-repeat="w in studDetails">
						<thead>
						    <tr>
								<th >Name : </th> 
								<td> {{w.name}} </td>
						    </tr>
						    <tr>  
						    	 <th>USN</th>
								 <td> {{w.usn}} </td>
						     </tr> 	
					          <tr>
					          	 <th>Branch</th>	
								 <td> BSc. Nursing </td>
							  </tr>

						</thead>
			  		</table>
	          </div>
		
		    </col-md-4>

        </div>
		
		<div class="col-md-8" style="padding-left: 7%">
			<div class="table-responsive">
		
				  <table width="350px" class="table table-bordered table-striped" style="text-align:center;" ng-repeat="x in details">
						 <thead>
							<tr >		
					        	<th>Father's Name</th>
					       	 	<th>Mother's Name</th>		
					        	<th>DOB</th>		
					        	<th>Blood Group</th>		
					        	<th>Sex</th>		
					        </tr>		
					    </thead>		
					    <tbody>		
					        <tr>		
					        	<td>{{x.father_name}}</td>		
					        	<td>{{x.mother_name}}</td>		
					       	 	<td>{{x.sex}}</td>		
					        	<td>{{x.blood_group}}</td>		
					        	<td>{{x.sex}}</td>		
					        </tr>		
					    </tbody>		
				  </table>
		
			  <div class="table-responsive">		
				  <table class="table table-bordered table-striped" style="text-align: center;">		
				  <thead>		
				      <tr >		
				        <th>Religion</th>		
				        <th>Nationality</th>		
				        <th>Email-ID</th>		
				        <th>Student's Phone No.</th>		
				        <th>Parent's Phone No.</th>		
				      </tr>		
				    </thead>		
				    <tbody>		
				      <tr>		
				        <td>{{x.religion}}</td>		
				        <td>{{x.nationality}}</td>		
				        <td>youcantseeme@gmail.com</td>		
				        <td>220-321-123</td>		
				        <td>330-321-123</td>		
				      </tr>		
				     </tbody>		
				  </table>		
				  
				  <div class="table-responsive">
				  	 <table class="table table-bordered table-striped" style="text-align: center;">		
					    <thead>		
					      <tr >		
					        <th>Permanent Address</th>		
					        <th>Communication Address</th>		
					      </tr>		
					    </thead>		
					    <tbody>		
					      <tr>		
					        <td> T-2, ALICE MANOR </td>		
					        <td> T-2, ALICE MANOR </td>		
					      </tr>		
					     </tbody>		
					     <tbody>		
					      <tr>		
					        <td> PATRAO LANE KARANGALPADY </td>		
					        <td> PATRAO LANE KARANGALPADY </td>		
					      </tr>		
					     </tbody>		
				         <tbody>		
					      <tr>		
					        <td> KODIAL BAIL MANGALORE </td>		
					        <td> KODIAL BAIL MANGALORE </td>		
					      </tr>		
					     </tbody>		
				         <tbody>		
					      <tr>		
					        <td> DAKSHINA KANNADA </td>		
					        <td> DAKSHINA KANNADA </td>		
					      </tr>		
					     </tbody>		
					      <tbody>		
					      	<tr>		
					         <td> KARNATAKA </td>		
					         <td> KARNATAKA </td>		
					      	</tr>		
					     </tbody>		
			              <tbody>		
					      <tr>		
					        <td> 575003 </td>		
					        <td> 575003 </td>		
					      </tr>		
					     </tbody>		
		  			</table>
				  </div>
			  </div>		
		  </div>		
	   </div>
<!-- 	</div> -->
</div>


<!--  <div class="jumbotron text-center">
    <h1>Profile working</h1>
</div> -->
