<table class="table">
	<tr>
		<td>Select Course</td>
		<td>Select Semester</td>
		<td>Enter Section Name</td>
	</tr>
	<tr>
		<td>
			<select ng-model="coursename" ng-change="loadSemester()">
				<option>Select Course</option>
				<option ng-repeat="x in course" value="{{x.c_id}}">{{x.c_name}}</option>
			</select>
		</td>
		<td>
			<select ng-model="sem">
				<option>Select Semester</option>
				<option ng-repeat="x in semester">{{x.sem_id|semesterfilter}}</option>
			</select>
		</td>
		<td>
			<input type="text" ng-model="sectionname" placeholder="Enter Section Name">
		</td>
	</tr>
	<tr>
		<td>
			<input type="submit" ng-click="addSection()" value="{{btnname}}">
		</td>
	</tr>
</table>

<table class="table">
	<tr>
		<td>Course name</td>
		<td>Semester</td>
		<td>Section</td>
	</tr>
	<tr ng-repeat="x in section">
		<td>{{x.cname}}</td>
		<td>{{x.semester_sem_id|semesterfilter}}</td>
		<td>{{x.sec_name}}</td>
		<td><input type="submit" ng-click="updateData(x.id,x.cname,x.semester_sem_id,x.sec_name)" value="UPDATE"></td>
		<td><input type="submit" ng-click="deleteData(x.id)" value="DELETE"></td>
	</tr>
</table>